# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.*BAK
*.*~
*.BAK

#Cmake auto generated
CMakeCache.txt
CMakeFiles
MakeFiles
make_install.cmake
CTestTestfile.cmake
cmake_install.cmake
Makefile
build

.project
.pydevproject
.metafiles*
*.BAK